<form class="example-form">
  <mat-form-field class="example-full-width">
      <input type="text"
        placeholder="Authors"
        aria-label="Authors"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        (focusout)="markInputAsDirty()">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="optionSelected($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
  <ul class="author-list">
      <li *ngFor="let author of selectedAuthors" class="author-wr">
        <div class="author-elem">
          <mat-icon svgIcon="author" class="author-icon"></mat-icon>
          <span class="author-name">{{author.firstName}} {{author.lastName}}</span>
          <mat-icon svgIcon="close" (click)="delete(author)" class="close-icon"></mat-icon>
        </div>
      </li>
    </ul>
</form>
